<!--商品列表-->
<!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">-->
  <!--<ion-infinite-scroll-content-->
    <!--loadingSpinner="bubbles"-->
    <!--loadingText="上拉加载更多">-->
    <a href="">
      <div class="good">
        <div class="cover-image">
          <img src="http://oss2.lanlanlife.com/dfc66e1e1a73ede7c96ede8c872b1fa4_800x800.jpg@!1-300-90-jpg"
               class="image">
        </div>
        <div class="item-info">
          <h1 class="title">
            <img src="http://oss1.lanlanlife.com/f87493c5f309d8b282476c232df6bd4b_26x26.png" class="tabsImg">
            <img src="http://oss.lanlanlife.com/754eabf80e8840f363304514af2a85d5_26x26.png" class="tabsImg">
            金苹果中秋送礼月饼5饼5味
          </h1>
          <p class="rec">精美礼盒装只要9.9</p>
          <div class="count"><span>天猫价 29.9元</span>
            <span class="alreadyBuy">41021 人已购</span>
          </div>
          <div class="coupon">
            <div class="price">
              ¥<b>9.9</b></div>
            <div class="count-label type-1"><strong>3.3</strong>&nbsp;折
            </div>
          </div>
        </div>
      </div>
    </a>
  <!--</ion-infinite-scroll-content>-->
<!--</ion-infinite-scroll>-->
