<div class="push-card-mask" [ngStyle]="{'display':showRecommend?'block':'none'}">
  <div class="push-card" [ngStyle]="{'display':showRecommend?'block':'none'}">
    <img src="http://oss3.lanlanlife.com/abace97c29a807fcd3fb114cf4828c9c_46x188.png" class="top-tt">
    <img src="http://oss.lanlanlife.com/2f8ef7afbc3cd024eaec04088caa809a_82x82.png" class="close" (click)="closeRecommendModal()">
    <img class="card-img" src="http://oss.lanlanlife.com/c8589bde1317485a2b534f64a56e182e_800x800.jpg">
    <div class="tt">
      <img src="http://oss1.lanlanlife.com/f87493c5f309d8b282476c232df6bd4b_26x26.png">
      <span>【飞科博锐】大功率折叠吹风机</span>
    </div>
    <div class="price">
      <span>¥<b>19.9</b></span>
      <span class="coupon">15元券</span>
    </div>
    <div class="btn">立即查看</div>
  </div>
</div>
