page-home {

}

.mint-swipe {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.max-classify {
  display: flex;
  justify-content: flex-end;
  height: 12.5rem;
}

.max-classify > div {
  padding: 0.5em;
}

.second-max-classify {
  display: flex;
  justify-content: flex-end;
}

.second-max-classify > a {
  height: 0.66rem;
  padding: 0.1rem;
}

.divide {
  height: 10px;
  background: #F1F1F1;
}
